.nav{
    border: 2px solid rgb(186, 171, 253);
    background-color:rgb(145, 188, 252);
    margin: 25px 50px 75px 100px;
}

.main{
    border: 2px solid rgb(120, 120, 236);
    background-color: rgb(141, 218, 218);
    margin: 25px 50px 75px;
}

.article{
    border: 2px solid rgb(112, 187, 171);
    background-color: rgb(189, 226, 238);
    margin: 25px 50px;
}

.footer{
    border: 2px solid rgb(247, 135, 43);
    width: 415px;
    margin: auto;
}