.header{
    border: 1px solid black;
    height: 100px;
}

.nav{
    border: 1px solid black;
    height: 20px;
}

.main{
    border: 1px solid black;
    height: 500px;
    max-width: 600px;
    margin: auto;
}

.article{
    border: 1px solid black; 
    height: 400px;
    margin: auto 60px; 
    margin-top: 60px;
}

.aside{
    border: 1px solid black;
    height: 40px;
    margin: auto 45px;
    margin-top: 300px;
}

.footer{
    border: 1px solid black;
    height: 20px;
}